{% extends "todo/base.html" %}

{% block content %}
<div class = 'container'>
  <div class="row justify-content-center">
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endif %}
    <div class="flex flex-col w-full lg:w-2/3 justify-center justify-content-center mt-5">
      <div class="container w-full px-4">
        <div class="flex flex-wrap justify-center">
          <div class="w-full lg px-3 ">
            <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gradient-to-r from-green-400 to-blue-500">
              <div class="flex-auto p-5 lg">
                <h4 class="text-2xl mb-4 text-black font-semibold italic text-center">New Todo</h4>

                <form method="POST">
                  {% csrf_token %}
                  <div class="relative w-full mb-3">
                    <label class="block uppercase text-black text-xs font-bold mb-2">Title</label><input type="text" name="title" class= "border-gray-400 px-3 py-3 bg-white placeholder-black text-gray-800 rounded text-sm shadow focus:outline-none w-full" placeholder=" "/>
                  </div>
                  <div class="relative w-full mb-3">
                    <label class="block uppercase text-gray-700 text-xs font-bold mb-2"
                    for="message">Message</label><textarea maxlength="300" name="memo" rows="4"
                    cols="80"
                    class="border-gray-400 px-3 py-3 bg-white placeholder-black text-gray-800 rounded text-sm shadow focus:outline-none w-full"
                    placeholder="" required></textarea>
                  </div>
                  <div class="relative w-full mb-3">
                    <input type="checkbox" name="important" class="form-checkbox rounded text-green-500">
                    <label class="form-check-label" for="important">Important</label>
                  </div>
                  <div class="text-center mt-6">
                    <button type = 'submit' class ='btn btn-success'>Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
</div>
</div>
{% endblock %}
